* {
    padding:0px;
    margin: 0px;
  }
  
  nav {
      list-style-type: none;
      margin: 0;
      padding: 20px 20px 20px 0px;
      width: 100%;
      background-color: gray;
      position: fixed;
      font-family: 'Georgia', Times, Times New Roman, serif;
  }
  
  p {
    float: right;
    
    padding: 20px;
    background-color: white;
    transition: all 0.5s ease;
  }
  p:hover{
    background-color: #90C3D4;
  }
  
  .start {
    height: 100vh;
    
  }
  
  .middle {
    height: 100vh;
    
  }
  
  .end {
    height: 100vh;
    

  }
  
  img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px; }
}
  
  